body {
  height: 100vh;
  background: linear-gradient(to top, #dbdbd2 90%, #009688 90%);
}

#contact-structure,
#message-structure {
  height: 90vh;
  background-color: white;
}

/*TODO  Controllare grandezza delle immagini  */
img {
  max-height: 50px;
  border-radius: 50%;
}

i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #b1b1b1;
  cursor: pointer;
}

.application-row {
  max-width: 1500px;
}
/****************************************
*****   LEFT BLOCK (CONTATTI) ****** 
 ****************************************/

/** Header User  */
.header-user {
  height: 7%;
  background-color: #eaeaea;
}

/** Notification Area  */
.notification {
  height: 8%;
  background-color: #8edafc;
}

.notification i {
  width: 50px;
  height: 50px;
  color: #8edafc;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
/** Input search contact  */
.input-search-contact {
  height: 5%;
  background-color: #eaeaea;
}

/** Contact Block  */
.contact-block {
  max-height: 80%;
  overflow: auto;
}

.contact-card.active-contact {
  background-color: #e9ebeb;
}

.contact-card {
  background-color: #ffffff;
  cursor: pointer;
  border-top: 1px solid rgba(151, 142, 142, 0.702);
}

/* ***************************************
*****      RIGHT BLOCK (CHAT)     ****** 
 ****************************************/

/**Header Message chat */

.header-message {
  height: 7%;
  background-color: #eaeaea;
  border-left: 1px solid rgba(151, 142, 142, 0.702);
}

/** Text area chat */

.text-area-message {
  height: 86%;
  overflow: auto;
  background-image: url(../img/mine.jpg);
}

/*! */
/*TODO: Sistemare le colonne (dei messaggi)al momento prendono tutta la larghezza*/
.message-sent {
  background-color: #d5f9ba;
  max-width: 70%;
  padding: 7px 60px 7px 7px;
  border-radius: 8px;
  align-self: flex-end;
}

.message-received {
  background-color: white;
  padding: 7px 60px 7px 7px;
  border-radius: 8px;
  align-self: self-start;
}

/** Bottom input message chat  */

.bottom-input-message {
  height: 7%;
  border: 1px solid rgba(151, 142, 142, 0.702);
  background-color: #f3eeea;
}
